<br>
<div class="container col-6">
    <div class="form-group">
        <h2 class="text-center">Novo Cliente</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="salvarCliente()">
        <br>
        <div class="form-group">
            <label for="nome" class="form-label">Nome do cliente</label>
            <input id="nome" formControlName="nome" type="text" class="form-control" autocomplete="off" [ngClass]="{ 
            'valid':  form.get('nome')?.valid && !form.get('nome')?.pristine,
            'invalid': form.get('nome')?.invalid && !form.get('nome')?.pristine
        }">
        </div>
        <br>
        <div class="form-group">
            <label for="cpf" class="form-label">CPF do cliente</label>
            <input id="cpf" formControlName="cpf" type="text" class="form-control" autocomplete="off" [ngClass]="{ 
            'valid':  form.get('cpf')?.valid && !form.get('cpf')?.pristine,
            'invalid': form.get('cpf')?.invalid && !form.get('cpf')?.pristine
        }">
        </div>
        <br>
        <div class="form-group">
            <label for="dataNascimento" class="form-label">Data de nascimento</label>
            <input id="dataNascimento" formControlName="dataNascimento" type="date" class="form-control"
                autocomplete="off" [ngClass]="{ 
            'valid':  form.get('dataNascimento')?.valid && !form.get('dataNascimento')?.pristine,
            'invalid': form.get('dataNascimento')?.invalid && !form.get('dataNascimento')?.pristine
        }">
        </div>
        <br>
        <div>
            <input type="reset" value="Limpar" class="btn btn-outline-secondary"/>
            {{' '}}
            <input type="submit" value="Salvar" class="btn btn-outline-primary" [disabled]="form.invalid" />
        </div>
        <br>
        <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
            <span *ngIf="form.get('nome')?.errors?.['required']">O Nome do cliente é obrigatório.<br></span>
            <span *ngIf="form.get('nome')?.errors?.['minlength']">O Nome deve ter no mínimo 3 digitos<br></span>
            <span *ngIf="form.get('cpf')?.errors?.['required']">O CPF do cliente é obrigatório!<br></span>
            <span *ngIf="form.get('cpf')?.errors?.['minlength']">O CPF deve ter no mínimo 11 digitos<br></span>
            <span *ngIf="form.get('cpf')?.errors?.['maxlength']">O CPF deve ter no máximo 11 digitos<br></span>
            <span *ngIf="form.get('dataNascimento')?.errors?.['required']">A data de nascimento é obrigatória.<br></span>
        </div>
    </form>
</div>