<br>
<div class="container col-6">
    <div class="form-group">
        <h2 class="text-center">Novo Produto</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="salvarProduto()">
        <br>
        <div class="form-group">
            <label for="descricao" class="form-label">Descrição do produto</label>
            <input id="descricao" formControlName="descricao" type="text" class="form-control"  autocomplete="off" [ngClass]="{ 
                'valid':  form.get('descricao')?.valid && !form.get('descricao')?.pristine,
                'invalid': form.get('descricao')?.invalid && !form.get('descricao')?.pristine
            }">
        </div>
        <br>
        <div class="form-group">
            <label for="valor" class="form-label">Valor</label>
            <input id="valor" formControlName="valor" type="number" step="0.01" value="5.99" class="form-control"  autocomplete="off" [ngClass]="{ 
                'valid':  form.get('valor')?.valid && !form.get('valor')?.pristine,
                'invalid': form.get('valor')?.invalid && !form.get('valor')?.pristine
            }">
        </div>
        <br>
        <div class="form-group">
            <label for="validade" class="form-label">Data de validade</label>
            <input id="validade" formControlName="validade" type="date" class="form-control"  autocomplete="off" [ngClass]="{ 
                'valid':  form.get('validade')?.valid && !form.get('validade')?.pristine,
                'invalid': form.get('validade')?.invalid && !form.get('validade')?.pristine
               }">
        </div>
        <br>
        <div>
            <input type="reset" value="Limpar" class="btn btn-outline-secondary"/>
            {{' '}}
            <input type="submit" value="Salvar" class="btn btn-outline-primary" [disabled]="form.invalid" />
        </div>
        <br>
        <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
            <span *ngIf="form.get('descricao')?.errors?.['required']">A Descrição é obrigatória.<br></span>
            <span *ngIf="form.get('descricao')?.errors?.['minlength']">A Descrição deve ter no mínimo 3 caracteres.<br></span>
            <span *ngIf="form.get('valor')?.errors?.['required']">O valor é obrigatório.<br></span>
            <span *ngIf="form.get('valor')?.errors?.['min']">O valor deve ser maior que zero.<br></span>
            <span *ngIf="form.get('validade')?.errors?.['required']">A data de validade é obrigatória.<br></span>
       </div>
    </form>
</div>